<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>My test page</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    div {
        border: 0 solid;
    }
    canvas {
        display: relative;
    }
    .container {
        width: 100%;
        clear: both;
        padding: 0;
        margin: 0;
    }
    .left {
        display: flex;
        float: left;
        position: relative;
        width: 20%;
        padding: 0;
        margin: 0;
    }
    .center {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 25%;
        padding: 0;
        margin: 0 auto;
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        justify-content: space-around;
        position: relative;
        width: 50%;
        padding: 0;
        margin: 0;
    }
</style>
<body>
<div class="container">
    <div class="right" id="right_aside" hidden>
        Stats
        <div id="piechart" style="width: 500px; height: 500px;"></div>
        <canvas id="image_canvas"></canvas>
        <div id="piechart_2" style="width: 500px; height: 500px;"></div>
        <div id="image_stat"></div>
    </div>
    <div class="left">
        <div>
            Datasets list
            <ol id="dataset_id_list" type="1"></ol>
        </div>
    </div>
    <div class="center">
        Images list
        <ol id="images_list" style="width: 100%;"></ol>
    </div>
</div>


<script>
    let challenge_data;

    // page entry ajax call
    (function add_dataset_list() {
        $.ajax({
            type: "get",
            url: "/datasets/",
            contentType: "application/x-www-form-urlencoded; charset=utf-8", // request type
            dataType: "JSON",        // response type
            success: function (data) {
                for (const dataset_prop of data.result) {
                    let $li = $('<li>')
                    $li.css({margin: "10px", padding: "5px", background: "lightblue"})
                    $li.text(dataset_prop["tar_name"] + ":" + dataset_prop["dataset_name"]);
                    $li.on("click", ()=>{ load_dataset(dataset_prop["tar_name"] + ":" + dataset_prop["dataset_name"], $li); });
                    $('#dataset_id_list').append($li);
                }
            },
            error: function () {
                alert("error");
            }
        });
    })();

    const load_dataset = function (dataset_id, elem) {
        $('#dataset_id_list').children().css("background-color", "lightblue");
        $('#right_aside').attr("hidden", false);
        clearDataset();
        ajaxImagesList(dataset_id, elem);
        ajaxImagesStats(dataset_id);
    }

    const clearDataset = function () {
        document.getElementById("piechart").innerHTML = "";

        const canvas = document.getElementById("image_canvas");
        ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height)

        document.getElementById("piechart_2").innerHTML = "";
    }

    const ajaxImagesStats = function (dataset_id) {
        google.charts.load('current', {'packages':['corechart']});
        // google.charts.setOnLoadCallback(drawChart);
        $.ajax({
            type: "get",
            url: "/datasets/" + dataset_id + "/stats?queries=images%2Cobjects",
            dataType: "JSON",        // response type
            success: function (data) {
                console.log(data.result.objects);
                const data_list = [["object", "count"]]

                for (const [k, v] of Object.entries(data.result.objects).sort()) {
                    data_list.push([k, v]);
                }
                const graph_data = google.visualization.arrayToDataTable(data_list);
                const options = {
                    title: 'Objects in Dataset'
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(graph_data, options);
            },
            error: function () {
                alert("error");
            }
        });
    }

    const ajaxImagesList = function (dataset_id, elem) {
        $.ajax({
            type: "get",
            url: "/datasets/" + dataset_id + "/images",
            dataType: "JSON",        // response type
            success: function (data) {
                $('#images_list').html("");
                challenge_data = data;
                elem.css({background: "MediumSlateBlue"});
                for (const image_id of data.result) {
                    let $li = $('<li>');
                    $li.css({margin: "10px", padding: "5px", background: "orange"});
                    $li.text(image_id);
                    $li.on("click", () => {loadImage(dataset_id, image_id)});
                    $('#images_list').append($li);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }
    const loadImage = function(dataset_id, image_id) {
        console.log("call image");
        const img = new Image();
        const ctx = document.getElementById("image_canvas").getContext("2d");
        ctx.save()
        ctx.clearRect(0, 0, 500, 500);
        img.addEventListener("load", function() {
            const image_ratio = 0.3
            ctx.imageSmoothingEnabled = false;
            ctx.webkitImageSmoothingEnabled = false;
            ctx.mozImageSmoothingEnabled = false;

            ctx.canvas.width = img.naturalWidth * image_ratio;
            ctx.canvas.height = img.naturalHeight * image_ratio;

            // ctx.drawImage(img, 0, 0);
            // ctx.drawImage(img, 0, 0, img.width, img.height);
            ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, ctx.canvas.width, ctx.canvas.height);
            // ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, 192, 120);
            ajaxImageStat(dataset_id, image_id, ctx, image_ratio);
        }, false);
        const url = "/datasets/" + dataset_id + "/images/" + image_id;
        img.src = url;
    }
    const ajaxImageStat = function(dataset_id, image_id, ctx, image_ratio) {
        $.ajax({
            type: "get",
            url: "/datasets/" + dataset_id + "/stats/" + image_id,
            dataType: "JSON",        // response type
            success: function (data) {
                // draw bounding box for objects
                ctx.restore();
                for (const obj of data.result["objects"]) {
                    const p = obj["bndbox"];
                    const xmin = parseFloat(p["xmin"]) * image_ratio;
                    const ymin = parseFloat(p["ymin"]) * image_ratio;
                    const xmax = parseFloat(p["xmax"]) * image_ratio;
                    const ymax = parseFloat(p["ymax"]) * image_ratio;
                    ctx.strokeStyle = "lightblue";
                    ctx.strokeRect(
                        xmin, ymin, (xmax-xmin), (ymax - ymin)
                    );
                    // ctx.stroke();
                }
                // $('#image_stat').text(JSON.stringify(data));

                // draw piechart
                console.log(data.result.objects);
                const obj_set = {};
                for (const obj of data.result.objects) {
                    if (obj_set[obj.name]) {
                        obj_set[obj.name] += 1;
                    } else {
                        obj_set[obj.name] = 1;
                    }
                }

                const data_list = [["object", "count"]]
                for (const [k, v] of Object.entries(obj_set).sort()) {
                    data_list.push([k, v]);
                }

                const graph_data = google.visualization.arrayToDataTable(data_list);
                const options = {
                    title: 'Objects in Dataset'
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart_2'));
                chart.draw(graph_data, options);
            },
            error: function () {
                alert("error");
            }
        })
    }



    const ajax_submission_results = function (challenge_id) {
        $.ajax({
            type: "get",
            url: "/challenges/" + challenge_id + "/submissions",
            dataType: "JSON",        // response type
            success: function (data) {
                $('#submission_results').html("")
                let should_recall = false;
                for (const sub_id in data) {
                    const obj = data[sub_id];

                    let value = ""
                    const $li = $('<li>');
                    $li.css("margin-bottom", "5px");
                    value += 'name: ' + obj["user_name"] + '<br>';
                    value += 'time: ' + obj["submission_time"] + '<br>';
                    if (obj["status"]) {
                        value += 'status: ' + obj["status"] + '<br>'
                        should_recall = true;
                        $li.css("background-color", "salmon");
                    } else {
                        value += 'result: ' + JSON.stringify(obj["result"]) + '<br>';
                        $li.css("background-color", "lightgreen");
                    }

                    $li.html(value);
                    $('#submission_results').append($li)
                }
                if (should_recall) {
                    console.log("update");
                    setTimeout(ajax_submission_results, 200, challenge_id);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

    $('form#submission_form').submit(function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        $.ajax({
            url: '/challenges/' + challenge_data["challenge_id"] + '/submissions',
            type: "POST",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                ajax_submission_results(challenge_data["challenge_id"]);
            },
            error: function (e) {
                alert(e.responseJSON.error);
            }
        });
    });

</script>
</body>
</html>