<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
<style>
    div {
        border: 0 solid;
    }

    .container {
        width: 100%;
        clear: both;
        padding: 0;
        margin: 0;
    }

    .left {
        display: flex;
        float: left;
        position: relative;
        width: 20%;
        padding: 0;
        margin: 0;
    }

    .center {
        display: flex;
        position: rcelative;
        width: 25%;
        padding: 0;
        margin: 0 auto;
    }

    .right {
        display: flex;
        float: right;
        position: relative;
        width: 50%;
        padding: 0;
        margin: 0;
    }

</style>
<body>
<div class="container">
    <div class="right" id="right_aside" hidden>
        Stats
        <div id="piechart" style="width: 900px; height: 500px;"></div>
        <canvas id="image_canvas" style="width: 900px; height: 500px;"></canvas>
        <div id="image_div"></div>
    </div>
    <div class="left">
        <div>
            Datasets list
            <ol id="dataset_id_list" type="1">
            </ol>
        </div>
    </div>
    <div class="center">
        Images list
        <ol id="images_list" style="width: 100%;"></ol>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    let challenge_data;

    // page entry ajax call
    (function add_dataset_list() {
        $.ajax({
            type: "get",
            url: "/datasets/",
            // contentType: "application/x-www-form-urlencoded; charset=utf-8", // request type
            // contentType: "application/json; charset=utf-8", // request type
            dataType: "JSON",        // response type
            // data: JSON.(data),
            success: function (data) {
                for (const dataset_id of data.result) {
                    let $li = $('<li>')
                    $li.css({margin: "10px", padding: "5px", background: "lightblue"})
                    $li.text(dataset_id);
                    $li.on("click", ()=>{ load_dataset(dataset_id, $li); });
                    $('#dataset_id_list').append($li);
                }
            },
            error: function () {
                alert("error");
            }
        });
    })();

    const load_dataset = function (dataset_id, elem) {
        $('#dataset_id_list').children().css("background-color", "lightblue");
        $('#right_aside').attr("hidden", false);
        ajax_images_list(dataset_id, elem);
        ajax_stats(dataset_id);
    }

    const ajax_images_list = function (dataset_id, elem) {
        $.ajax({
            type: "get",
            url: "/datasets/" + dataset_id + "/images",
            dataType: "JSON",        // response type
            success: function (data) {
                $('#images_list').html("");
                challenge_data = data;
                elem.css({background: "MediumSlateBlue"});
                for (const image_id of data.result) {
                    let $li = $('<li>');
                    $li.css({margin: "10px", padding: "5px", background: "orange"});
                    $li.text(image_id);
                    $li.on("click", () => {load_image(dataset_id, image_id)});
                    $('#images_list').append($li);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }
    const load_image = function(dataset_id, image_id) {
        $('#image_div').html("");
        let $img = $('img');
        const url = "/datasets/" + dataset_id + "/images/" + image_id;
        $img.attr("src", url);
        $('#image_div').append($img);
        // var ctx = document.getElementById('image_canvas').getContext("2d");
        // ctx.drawImage( $img , 0, 0, 200, 200);
        //  $.ajax({
        //     type: "get",
        //     url: "/datasets/" + dataset_id + "/images/" + image_id,
        //     dataType: "image/jpg",        // response type
        //     success: function (image) {
        //         var ctx = document.getElementById('image_canvas').getContext("2d");
        //         ctx.drawImage( image , 0, 0, 200, 200);
        //     },
        //     error: function (error) {
        //         alert("error");
        //         console.log(error);
        //     }
        // });       
    }
    const ajax_stats = function (dataset_id) {
        google.charts.load('current', {'packages':['corechart']});
        // google.charts.setOnLoadCallback(drawChart);
        $.ajax({
            type: "get",
            url: "/datasets/" + dataset_id + "/stats?queries=images%2Cobjects",
            dataType: "JSON",        // response type
            success: function (data) {
                console.log(data.result.objects);
                const data_list = [["object", "count"]]

                for (const [k, v] of Object.entries(data.result.objects)) {
                    data_list.push([k, v]);
                }
                const graph_data = google.visualization.arrayToDataTable(data_list);
                const options = {
                    title: 'My Daily Activities'
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(graph_data, options);
            },
            error: function () {
                alert("error");
            }
        });
    }
    const ajax_submission_results = function (challenge_id) {
        $.ajax({
            type: "get",
            url: "/challenges/" + challenge_id + "/submissions",
            dataType: "JSON",        // response type
            success: function (data) {
                $('#submission_results').html("")
                let should_recall = false;
                for (const sub_id in data) {
                    const obj = data[sub_id];

                    let value = ""
                    const $li = $('<li>');
                    $li.css("margin-bottom", "5px");
                    value += 'name: ' + obj["user_name"] + '<br>';
                    value += 'time: ' + obj["submission_time"] + '<br>';
                    if (obj["status"]) {
                        value += 'status: ' + obj["status"] + '<br>'
                        should_recall = true;
                        $li.css("background-color", "salmon");
                    } else {
                        value += 'result: ' + JSON.stringify(obj["result"]) + '<br>';
                        $li.css("background-color", "lightgreen");
                    }

                    $li.html(value);
                    $('#submission_results').append($li)
                }
                if (should_recall) {
                    console.log("update");
                    setTimeout(ajax_submission_results, 200, challenge_id);
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

    $('form#submission_form').submit(function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        $.ajax({
            url: '/challenges/' + challenge_data["challenge_id"] + '/submissions',
            type: "POST",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                ajax_submission_results(challenge_data["challenge_id"]);
            },
            error: function (e) {
                alert(e.responseJSON.error);
            }
        });
    });

</script>
</body>
</html>