<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
<style>
    div {
        border: 1px solid;
    }
    .container {
        width: 100%;
        /*clear: both;*/
    }
    .left {
        float: left;
        width: 30%;
        /*position: relative;*/
        height: 100px;
    }

    .center {
        width: 30%;
        /*position: relative;*/
        height: 100px;
        margin: 0 auto;
    }
    .right {
        float: right;
        width: 30%;
        /*position: relative;*/
        height: 100px;
    }
</style>
<body>
<div class="container">
        <div class="right">
        this is right side
        this is right side
        this is right side
        this is right side
        this is right side
    </div>
    <div class="left">
        this is left side
        this is left side
        this is left side
        this is left side
    </div>
    <div class="center">
        this is center
        this is center
        this is center
        this is center
        this is center
    </div>
</div>
<script>
</script>
</body>
</html>